<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
    <link href="" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <title>用户管理</title>
    <link href="/webjars/datatables/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-lg-12">
        <h1 class="page-header">用户</h1>
    </div>
    <div class="row">
        <table border="1" id="table" class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>账号</th>
                <th>创建日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <!--/*@thymesVar id="users" type="java.util.List"*/-->
            <!--/*@thymesVar id="user" type="cn.wilmar.wcmdemo.User"*/-->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.fullname}">Yin Guo Wei</td>
                <td th:text="${user.username}">yinguowei</td>
                <td th:text="${#temporals.format(user.createdDate, 'yyyy-MM-dd')}">1900-1-1</td>
                <td>
                    <a class="btn btn-info btn-xs" th:href="@{'/user/' + ${user.id} + '/edit'}" href="userForm.html">编辑</a>
                    <form style="display:inline-block" th:action="@{'/user/' + ${user.id}}" action="#" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input class="btn btn-danger btn-xs" type="submit"
                               th:onclick="'return confirm(\'确定要删除' + ${user.fullname} +'吗？\')'"
                               value="删除" onclick="return confirm('确定要删除张三吗？')">
                    </form>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jon</td>
                <td>jon</td>
                <td>2000-1-1</td>
                <td>
                    <a href="userForm.html">编辑</a>
                    <input type="submit" value="删除">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="userForm.html" th:href="@{/user/new}">新建用户</a>

</div>


</body>
<div layout:fragment="custom_scripts">
    <script src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/datatables/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        } );
    </script>
</div>
</html>